img {
    border: 15px solid seagreen;
    padding: 10px;
    display: block;
    margin: auto;
}
.travel{
    color: darkgreen;
    font-weight: bold;
    font-size: large;
}

#Shopping {
    border: 10px solid crimson;
    padding: 15px;
    border-radius: 20px;
}

#Food {
    border: 10px solid green;
    padding: 15px;
    border-radius: 20px;
}

footer{
    text-align: center;
    font-weight: bold;
}

#link{
    color: brown;
    font-weight: bolder;
    text-decoration: none;
  
}

button > a {
    text-decoration: none;
}
p > a{
    text-decoration: none;
}